body{
    scroll-behavior: smooth;
    margin: 0%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
}

.container{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FD8D14;
}
.black{
    box-flex-group: black;
}
.joke-body{
    margin: 20px;
    padding: 40px;
    background-color: #FFE17B;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 25px;
    box-shadow: 1px 1px 60px rgba(0, 0, 0, 0.061)  ;
}

.header{
    font-size: 80px;
    margin-bottom: 20px;
}

.joke-para{
    color: #C51605;
    min-height: 200px;
}
p{
    line-break: loose;
    text-align: justify;
}
.joke-btn button{
    margin-top: 20px;
    background-color: #FD8D14;
    font-size: 20px;
    color: rgb(255, 255, 255);
    /* text-shadow: 1px 1px black; */
    padding: 10px 40px;
    border-radius: 25px;
    border: 1px solid rgb(0, 0, 0);
    outline: none;
    transition: .3s ease;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.052)  ;
    cursor: pointer;
}
button:active{
    transform: scale(0.98);
}


.jbb{
    display: none;
}